/VolunteeringPlatformApp/.vs
/VolunteeringPlatformApp/.vscode
/VolunteeringPlatformApp/WebAPI/bin
/VolunteeringPlatformApp/WebAPI/obj
/VolunteeringPlatformApp/WebAPI/Logs
VolunteeringPlatformApp/WebApp/bin
VolunteeringPlatformApp/WebApp/obj
VolunteeringPlatformApp/WebApp/Logs